.box {
  margin: 0 auto;
}

.box .figure {
  position: relative;
  margin-left: 2px;
  text-align: center;
  height: 30px;
  width: 20px;
  margin-right: 2px;
  background-color: #fff;
  border-radius: 4px;
  -moz-box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.2), inset 2px 4px 0 0 rgba(255, 255, 255, 0.08);
  -webkit-box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.2), inset 2px 4px 0 0 rgba(255, 255, 255, 0.08);
  box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.2), inset 2px 4px 0 0 rgba(255, 255, 255, 0.08);
}
.box .figure:last-child {
  margin-right: 0;
}
.box .figure > span {
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  font: normal 24px "Lato";
  font-weight: 700;
  
}
.box .figure .top:after,
.box .figure .bottomBack:after {
  content: "";
  position: absolute;
  z-index: -1;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.box .figure .top {
  z-index: 3;
  background-color: #f7f7f7;
  transform-origin: 50% 100%;
  -webkit-transform-origin: 50% 100%;
  -moz-border-radius-topleft: 5px;
  -webkit-border-top-left-radius: 5px;
  border-top-left-radius: 5px;
  -moz-border-radius-topright: 5px;
  -webkit-border-top-right-radius: 5px;
  border-top-right-radius: 5px;
  -moz-transform: perspective(100px);
  -ms-transform: perspective(100px);
  -webkit-transform: perspective(100px);
  transform: perspective(100px);
}
.box .figure .bottom {
  z-index: 1;
}
.box .figure .bottom:before {
  content: "";
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 50%;
  background-color: rgba(0, 0, 0, 0.02);
}
.box .figure .bottomBack {
  z-index: 2;
  top: 0;
  height: 50%;
  overflow: hidden;
  background-color: #f7f7f7;
  -moz-border-radius-topleft: 5px;
  -webkit-border-top-left-radius: 5px;
  border-top-left-radius: 5px;
  -moz-border-radius-topright: 5px;
  -webkit-border-top-right-radius: 5px;
  border-top-right-radius: 5px;
}
.box .figure .bottomBack span {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  margin: auto;
}
.box .figure .top,
.box .figure .topBack {
  height: 50%;
  overflow: hidden;
  -moz-backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}
.box .figure .topBack {
  z-index: 4;
  bottom: 0;
  background-color: #fff;
  -webkit-transform-origin: 50% 0;
  transform-origin: 50% 0;
  -moz-transform: perspective(100px) rotateX(180deg);
  -ms-transform: perspective(100px) rotateX(180deg);
  -webkit-transform: perspective(100px) rotateX(180deg);
  transform: perspective(100px) rotateX(180deg);
  -moz-border-radius-bottomleft: 5px;
  -webkit-border-bottom-left-radius: 5px;
  border-bottom-left-radius: 5px;
  -moz-border-radius-bottomright: 5px;
  -webkit-border-bottom-right-radius: 5px;
  border-bottom-right-radius: 5px;
}
.box .figure .topBack span {
  position: absolute;
  top: -100%;
  left: 0;
  right: 0;
  margin: auto;
}
